#此配置文件,是远程构建配置文件的样品,如果使用，请将些文件复制到/$HOME/.devops/deploy-target
# 执行下面两行命令
#   if test ! -d $HOME/.devops ; then mkdir $HOME/.devops ; fi
#   cp ./deploy-target.sample $HOME/.devops/deploy-target
#key是工作空间名称，一个工作空间对应一个ip,不同的工作空间可以对应同一个ip 
#value 分三部分，first 是主机的用户名，second 是主机的ip,third 是主机的密码

meal=root:192.168.10.111:xxxx

unsun=root:192.168.10.111:yyyy
